.concept {
  @include section;
  padding-top: 12rem;

  @include breakPoint_sp {
    padding-top: 2rem;
  }

  &__inner {
    @include inner;
    flex-flow: column;
    align-items: center;
    padding: 4rem;
    background-image: url(./img/concept-img01.jpg);
    background-position: 50% 50%;
    background-size: cover;

    @include breakPoint_sp {
      padding: 2rem;
    }
  }

  &__title {
    @include section__title;
  }

  &__body {
    padding: 5%;
    background-color: rgba($color: #fff, $alpha: 0.95);
    width: 100%;
    text-align: center;

    &::after {
      content: "";
      display: block;
      margin: 2rem auto 2rem;
      width: 6rem;
      height: 0.1rem;
      background-color: #333;
    }
  }

  &__text {
    margin-bottom: 4rem;
    line-height: 3;
    letter-spacing: 0.25rem;
  }
}