.hero {

  &__inner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color_base;

    @include breakPoint_sp {
      height: 36rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0,0,0,0.2);
      background-image:
        repeating-linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1) 1px, transparent 0, transparent 6px),
        repeating-linear-gradient(to right,rgba(0,0,0,0.1), rgba(0,0,0,0.1) 1px, transparent 0, transparent 6px);
    }
  }

  &__mv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__body {
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__catch {
    $font-size: 5.4rem;
    color: $color_white;
    font-size: $font-size;
    font-style: italic;
    font-family: $font-family-en;
    letter-spacing: 0.5rem;

    @include breakPoint_tw {
      font-size: calc(#{$font-size} * 0.94);
    }
  
    @include breakPoint_th {
      font-size: calc(#{$font-size} * 0.88);
    }
  
    @include breakPoint_sp {
      font-size: calc(#{$font-size} * 0.82);
    }
  }

  &__lead {
    color: $color_white;

    .-strong {
      font-weight: bold;
    }

    &::before,
    &::after {
      content: "";
      width: 2.8rem;
      height: 0.1rem;
      background-color: #fff;
      display: inline-flex;
      vertical-align: middle;
      margin: 0 1rem;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: $color_base;
    width: 60%;

    @include breakPoint-th {
      width: 100%;
    }

    @include breakPoint_sp {
      display: none;
    }

    &-body {
      padding: 2rem;
      display: flex;
      align-items: center;
    }

    &-term {
      flex-basis: 9rem;
      margin-right: 2rem;
      padding-right: 2rem;
      border-right: 1px solid rgba(255,255,255,0.1);
      color: $color_white;
    }

    &-desc {
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &-link {
        color: $color_white;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-more {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 4rem;
      margin-left: 2rem;
    
      &-link {
        height: 2.4rem;
      }
    }
  }
}