.scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.6rem;
  height: 3.6rem;
  background-color: $color_base;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include breakPoint_sp {
    bottom: 1rem;
    right: 1rem;
  }

  &__icon {
    color: $color_white;
    font-size: 1.6rem;
  }
}

.js-fade-in-slide {
  transition: transform 0.4s;
  transform: scaleX(0);

  &--done {
    transform: scaleX(1);
  }
}