@mixin inner {
  max-width: 1180px;
  margin: 0 2rem;
  display: flex;
  flex: 1;
}

@mixin section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@mixin section__title {
  $font-size: 3.2rem;
  font-size: $font-size;
  font-family: $font-family-en;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;

  &--white {
    color: $color_white;
  }

  @include breakPoint_tw {
    font-size: calc(#{$font-size} * 0.94);
  }

  @include breakPoint_th {
    font-size: calc(#{$font-size} * 0.88);
  }

  @include breakPoint_sp {
    font-size: calc(#{$font-size} * 0.82);
  }
}