@mixin breakPoint-pc {
  @media (max-width: ($breakPoint-pc)) {
    @content;
  }
}

@mixin breakPoint-tw {
  @media (max-width: ($breakPoint-tw)) {
    @content;
  }
}

@mixin breakPoint-th {
  @media (max-width: ($breakPoint-th)) {
    @content;
  }
}

@mixin breakPoint-sp {
  @media (max-width: ($breakPoint-sp)) {
    @content;
  }
}


@function get_vw($size, $viewport: 480) {
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size: 10) {
  font-size: $font_size * 0.1rem;
  font-size: get_vw($font_size);
}
