.concept {
  @include section;
  padding-top: 12rem;

  &__inner {
    @include inner;
    flex-flow: column;
    align-items: center;
    padding: 5%;
    background-color: $color_base;
  }

  &__title {
    @include section__title;
  }

  &__body {
    max-width: 72rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &::after {
      content: "";
      width: 8rem;
      height: 1px;
      background-color: $color_white;
      margin: 2rem 0;
    }
  }

  &__heading {
    $font-size: 3.2rem;
    font-size: $font-size;
    font-family: $font-family-en;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 3rem;
    color: $color_white;

    @include breakPoint_tw {
      font-size: calc(#{$font-size} * 0.94);
    }
  
    @include breakPoint_th {
      font-size: calc(#{$font-size} * 0.88);
    }
  
    @include breakPoint_sp {
      @include fz_vw(24);
    }
  }

  &__text {
    margin-bottom: 4rem;
    color: $color_white;    
  }
}